.informationAboutMe{
    margin-top: 5%;
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    background-color: white;
    font-family: 'Londrina Solid', cursive;
    display: inline-block;
}

.description{
    max-width: 60%;
    margin-left: 10%;
}


h1{
    color: #002001;
    line-height: 3;
    font-size: 5vw;
}

p{
    font-size: 2vw;
}

.education{
    max-width: 60%;
    margin-left: 10%;
}