body{
    background-color: #002001;
}
.container{
    margin-top: 1%;
    max-width: 100%;
    min-width: 30%;
    align-items: center;
    display: flex;
    justify-content: left;
    
}

.coverPage{
    background-color: #002001;
    padding: 5px;
    min-width: 30%;
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    line-height:0.5;
}

.hello{
    font-size: 6vw;
    font-family: 'Londrina Solid', cursive;
    line-height: 0.5;
    color: white;
}

h2{
    font-size: 10vw;
    font-family: 'Londrina Solid', cursive;
    line-height:1;
    color: white;
}

h3{
    font-size: 5vw;
    font-family: 'Londrina Solid', cursive;
    line-height:0.5;
    color: white;
}


img{
    width: 18%;
    border-radius: 100%;
    margin-right: 5%;
    border: rgb(255, 255, 255) 6px solid;
}
